<div class="game-container">
  <h1>Guess the Number game</h1>
  <p>Guess a number between 1 and 100</p>

<div *ngIf="!gameOver">
  <label for="guess">Your Guess: </label>
  <input id="guess" type="number" [(ngModel)]="guessedNumber"
  [disabled]="gameOver" min="1" max="100" placeholder="Enter a number" (keyup.enter)="submitGuess()">

  <button (click)="submitGuess()" [disabled]="!isValidGuess(guessedNumber)">Submit Guess</button>
  <!-- <p *ngIf="guessedNumber">{{feedbackMessage}}</p> -->
  <p>Attempts left: <strong>{{attemptsLeft}}</strong></p>
</div>

<div *ngIf="feedbackMessage" class="feedbackMessage" [ngClass]="giveClass()">
  <p>{{feedbackMessage}}</p>
</div>

<div *ngIf="gameOver">
  <button (click)="resetGame()">Play Again</button>
</div>
</div>
