<div class="container">
  <h2>Contact form</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        placeholder="Enter your name"
        formControlName="name"
        [class.error]="name?.touched && name?.invalid"
      />
      <div class="error-message" *ngIf="name?.touched && name?.invalid">
        <div *ngIf="name?.errors?.['required']">Name is required</div>
        <div *ngIf="name?.errors?.['minLength']">Invalid name length</div>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="name"
        placeholder="Enter your email"
        formControlName="email"
        [class.error]="email?.touched && email?.invalid"
      />
      <div class="error-message" *ngIf="email?.touched && email?.invalid">
        <div *ngIf="email?.errors?.['required']">Email is required</div>
        <div *ngIf="email?.errors?.['email']">Invalid email</div>
        <!-- Placeholder for error -->
      </div>
    </div>

    <div>
      <label for="Subject">Subject:</label>
      <input
        type="text"
        id="Subject"
        placeholder="Enter the subject"
        formControlName="subject"
        [class.error]="subject?.touched && subject?.invalid"
      />
      <div class="error-message" *ngIf="subject?.touched && subject?.invalid">
        <div *ngIf="subject?.errors?.['required']">Subject is required</div>
        <div *ngIf="subject?.errors?.['maxLength']">Subject cannot exceed 50 characters.</div>
        <div></div>
      </div>
    </div>

    <div>
      <label for="message">Message:</label>
      <textarea
        name="message"
        id="message"
        rows="5"
        placeholder="Type message"
        formControlName="message"
        [class.error]="message?.touched && message?.invalid"
      ></textarea>
      <div class="error-message" *ngIf="message?.touched && message?.invalid">
        <div *ngIf="message?.errors?.['required']">Message is required</div>
        <div *ngIf="message?.errors?.['minLength']">
          Message must be at at least 10 characters long.
        </div>
      </div>
    </div>

    <button class="submit" type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
  <div class="success-message" *ngIf="submissionStatus === 'success'">
    your message has been successfull submitted
  </div>
  <div class="error-message" *ngIf="submissionStatus === 'error'">
    Failed to submit message. Please try again
  </div>
</div>
