.container{
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title{
  font-size: 20px;
  color: #343a40;
  text-align: center;
  margin-bottom: 13px;
}

.search-box{
  width: 95%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.search-box:focus{
  border-color: #495057;
  box-shadow: 0 0 4px rgba(73, 80, 87, 0.2);
}

.list-group{
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item{
  padding: 8px 12px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  border-bottom: 8px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.list-group-item:hover{
  background: #e9eeef;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
