.post{
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-header{
  display: flex;
  align-items: center;
  gap: 12px;
}

img,.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
